.app-header {
  position: sticky;
  top: 0;
  background: #282828;
  border-bottom: 1px solid #747474;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.app-header__left,
.app-header__right {
  flex: 1;
  display: flex;
  align-items: center;
}

.app-header__center {
  flex: 2;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.app-header__back {
  color: #FFFFFF;
  border: 1px solid #747474;
  border-radius: 8px;
  background: #282828;
  padding: 6px 10px;
  font-size: 30px;
  cursor: pointer;
}

.profile-button {
  margin-left: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #747474;
  background: #fff;
  cursor: pointer;
  font-size: 24px;
  overflow: hidden;
  padding: 0px;
}

.profile-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  -webkit-user-drag: none;
}

.header-dropdown {
  border-radius: 20px;
  position: absolute;
  right: 40px;
  top: 70px;
  background: #282828;
  border: 1px solid #747474;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  padding: 12px 0;
  width: 180px;
  display: none;
  flex-direction: column;
}

.header-dropdown button {
  color: var(--text-white);
  border-radius: 100px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.header-dropdown button:hover {
  background: #747474;
}

.header-dropdown--open {
  display: flex;
}

@media (max-width: 600px) {
  .app-header {
    padding: 16px 20px;
  }

  .header-dropdown {
    right: 20px;
  }
}

.header-logo {
  height: 45px;
  width: auto;
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.2s ease;
}