.password-edit-page {
  display: flex;
  justify-content: center;
}

.password-panel .form-stack {
  text-align: left;
}

.password-edit-page .password-panel{
  text-align: center;
  background-color: #282828;
  color: #FFFFFF;
  border-color: #747474;
}