.post-detail-page {
  justify-content: ce;
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post-detail {
  gap: 20px;
  display: flex;
  flex-direction: row;
  background: #282828;
  border-radius: 22px;
  height: 600px;
}

.post-detail h1 {
  margin-top: 0px;
}

.post-detail__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.post-detail__author {
  display: flex;
  gap: 12px;
  align-items: center;
}

.post-detail__author .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  -webkit-user-drag: none;
}

.post-detail__author strong {
  display: block;
}

.post-detail__author span {
  color: var(--text-muted);
  font-size: 14px;
}

.post-detail__actions {
  display: flex;
  gap: 12px;
}

.post-detail__actions button {
  border: 1px solid var(--border-light);
  background: #fff;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.post-detail__image {
  width: 100%;
  height: 90%;
  border-radius: 18px;
  background: #282828;
  margin-bottom: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.post-detail__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  -webkit-user-drag: none;
}

.post-detail__content {
  line-height: 1.6;
  color: var(--text-white);
  height: 450px;
  white-space: pre-line;
}

.post-detail__metaInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  gap: 10px;
}


.metaInfo-box span {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-white);
}

.comment-section {
  background: #ffffff;
  padding: 28px;
  border-radius: 18px;
  border: 1px solid #747474;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.comment-section textarea {
  min-height: 120px;
  border-radius: 12px;
  border: 1px solid #747474;
  padding: 14px;
  resize: none;
}

.comment-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.post-detail__layout {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.post-detail__left {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.post-detail__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-detail__divider {
  width: 1px;
  background: #747474;
  height: 100%;
  align-self: stretch;
}