.post-card {
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #e5e5ef;
}

.post-card__middle {
  padding-left: 10px;
  padding-right: 10px
}

.post-card__preview {
  width: 100%;
  height: 300px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background: #dfe2f0;
  margin-bottom: 5px;
  overflow: hidden;
}

.post-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post-card__meta {
  margin: 6px 0 12px;
}

.post-card__author {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.post-card__divider {
  margin-bottom: 0;
  border-color: #747474;
}

.avatar-mini {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  overflow: hidden;
}

.post-card__author p {
  margin: 0;
  font-weight: 600;
}

.post-card__author img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  -webkit-user-drag: none;
}

.icon-likes {
  display: inline-block;
  width: 22px;
  height: 22px;


  background-image: url('../../../src/shared/assets/images/icons8-엄지-척-96.png');


  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 2px;
}

.icon-comments {
  display: inline-block;
  width: 22px;
  height: 22px;


  background-image: url('../../../src/shared/assets/images/icons8-댓글-96.png');


  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 2px;
}

.icon-views {
  display: inline-block;
  width: 22px;
  height: 22px;


  background-image: url('../../../src/shared/assets/images/icons8-손가락-96.png');


  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 2px;
}