.post-list-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.post-list__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 24px;
  border-radius: 18px;
  border: 1px solid #ededf6;
}

/* 게시글 슬라이더 컨테이너 */
.post-list-slider {
  display: flex;
  flex-direction: row;
  gap: 25px;
  overflow-x: auto;
  padding: 20px 50px;
  scroll-snap-type: x mandatory; /* 스크롤 멈출 때 카드 정렬 */
}

/* 스크롤바 디자인 */
.post-list-slider::-webkit-scrollbar {
  height: 20px;
}

.post-list-slider::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b8d7ff 0%, #d7e2ff 100%);
  border-radius: 4px;
}

.post-list-slider::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

/* 개별 카드 항목 */
.post-card {
  width: 400px;
  min-height: 400px;
  flex-shrink: 0;
  scroll-snap-align: center;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.post-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 18px 5px rgb(255 255 255 / 26%);
}

.intro-container {
  height: 250px;
  width: 400px;
  min-width: 200px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 35px;
  background: #282828;
  border: 1px solid #747474;
  border-radius: 16px;
  padding: 24px 24px;
}

.intro-container .intro-box {
  white-space: pre-line;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

.intro-container .ui-button {
  min-width: 120px;
}